<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><a href="/users/register">Formulario de Registro</a></h2>
    <h2><a href="/users">Todos los Usuarios</a></h2>
    <h3>Ver el tema de aumentar el id</h3>
  </body>
</html>
