.form-register {
    width: 90%;
    background-color: var(--colorGris-oscuro2);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
}
.label-primary, .input-field {
    width: 100%;
    padding: 8px;
    margin: 8px auto;

}
.input-field{
    background-color: var(--colorGris-claro);
}
.input-category{
    width: 100%;
    margin: 8px auto;
}
.input-submit {
    background-color: var(--color-azul);
    border: 2px solid white;
    color: white;
    padding: 3px;
    font-size: 18px;
    padding: 8px;
    margin: 8px auto;
}
.input-submit2{
    background-color: var(--color-amarillo);
    border: 2px solid white;
    color: white;
    padding: 3px;
    font-size: 18px;
    padding: 8px;
    margin: 8px auto;

}
@media (min-width: 576px) {
    .form-register{
        width: 75%;
    }

}
@media (min-width: 768px) {
    .form-register{
        width: 60%;
    }

}

